@page
@model RayanStore.Areas.Admin.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

<div clas="card">
    <div class="card-head">
        <div class="card-tools">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Orders.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Phone</th>
                        <th>Total Amount</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.CustomerName</td>
                            <td>@order.CustomerPhone</td>
                            <td>@order.TotalAmount.ToString("#.00")</td>
                            <td>@order.OrderDate.ToString("dd MMM yy")<br>
                                @order.OrderDate.ToString("hh:mm tt")
                            </td>
                            <td>
                                <a asp-page="Edit" asp-route-id="@order.Id" class="btn btn-sm btn-primary">Edit</a>
                                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No orders found.</p>
        }
    </div>
</div>
